<!DOCTYPE html>
<html lang="en" ng-app="GAB">
<head>
    <meta charset="UTF-8">
    <title>gab</title>

    <!-- default bootstrap -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.css">
    <!-- theme css -->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="MainCtrl as mainCtrl">

    <div class="container">

        <!-- Search Row -->
        <div class="row">
            <div class="col-xs-1
                        col-sm-1 
                        col-md-1
                        col-lg-1
                        logo
                        text-center" id="logo" ng-click="mainCtrl.buttonClick('home')">
                gab
            </div>
            <div class="col-xs-11
                        col-sm-11 
                        col-md-9
                        col-lg-9">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="mainCtrl.searchString" min-length="1">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-disabled="mainCtrl.searchString==''" ng-click="mainCtrl.buttonClick('searchFriend')">Search Friends</button>
                    </span>
                </div>
            </div>
            <div class="col-xs-5
                        col-sm-5
                        col-md-1
                        col-lg-1
                        text-center">
                <div class="top-btn-area">
                    <i class="fa fa-user-circle fa-2x clickable-fa" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-5
                        col-sm-5
                        col-md-1
                        col-lg-1
                        text-center">
                <div class="top-btn-area">
                    <i class="fa fa-cogs fa-2x clickable-fa" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!-- Search Row End -->

        <!-- Link Banner Row -->
        <div class="row">
            <div class="col-xs-12
                        col-sm-12
                        col-md-12
                        col-lg-12">
                <div class="text-center link-banner">
                    <ul class="list-inline">
                        <li class="added-padding"><i class="fa fa-user-plus fa-2x clickable-fa" aria-hidden="true" ng-click="mainCtrl.buttonClick('addfriend')"></i></li>
                        <li class="added-padding"><a href="#group-content-row"><i class="fa fa-users fa-2x clickable-fa" aria-hidden="true"></i></a></li>
                        <li class="added-padding"><i class="fa fa-th-list fa-2x clickable-fa" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Link Banner Row End -->

        <!-- Main Content Row -->
            <!-- 
                We want this whole row to be updated dynamically,
                according to the friends loaded. It should load
                the image, as well as name. And possibly also the
                group that the person belongs in.
            --> 
        <ng-include src="'/app/friends/friends.html'" ng-show="mainCtrl.friendsVisible"></ng-include>
        <!-- Main Content Row End -->

        <!-- Groups Row -->
             <!-- 
                We want this whole row to be updated dynamically,
                according to the groups loaded. It should load
                the image, as well as name. 
            -->
        <div id="group-content-row"></div>
        <ng-include src="'/app/groups/groups.html'" ng-show="mainCtrl.groupsVisible"></ng-include>        
        <!-- Groups Row End -->



        <ng-include src="'/app/friends/addfriend.html'" ng-show="mainCtrl.addFriendVisible"></ng-include>
        <ng-include src="'/app/friends/viewfriend.html'" ng-show="mainCtrl.viewFriendVisible"></ng-include>
        <ng-include src="'/app/friends/editfriend.html'" ng-show="mainCtrl.editFriendVisible"></ng-include>        
        <ng-include src="'/app/groups/addgroup.html'" ng-show="mainCtrl.addGroupVisible"></ng-include>
        <ng-include src="'/app/groups/editgroup.html'" ng-show="mainCtrl.editGroupVisible"></ng-include>
        <ng-include src="'/app/search/searchDB.html'" ng-show="mainCtrl.searchVisible"></ng-include>
        


        <!-- Footer Row -->
        <div class="row footer-row">
            <div class="col-xs-12
                        col-sm-12
                        col-md-12
                        col-lg-12">
                <div class="text-center">
                    <p>Created by DurianCoder. <a href="#">Contact us!</a></p>
                </div>
            </div>
        </div>
        <!-- Footer Row End -->


    </div>

    <!-- jquery, bootstrap, angular, ngMessages, ngAnimate -->
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>

    <!--ngDragDrop-->
    <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>

    <!-- app js files -->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/services/gab.services.js"></script>
    <script type="text/javascript" src="app/main/main.controller.js"></script>
    <script type="text/javascript" src="app/friends/friends.controller.js"></script>
    <script type="text/javascript" src="app/friends/addfriend.controller.js"></script>
    <script type="text/javascript" src="app/friends/editfriend.controller.js"></script>
    <script type="text/javascript" src="app/friends/viewfriend.controller.js"></script>
    <script type="text/javascript" src="app/groups/groups.controller.js"></script>
    <script type="text/javascript" src="app/groups/addgroup.controller.js"></script>
    <script type="text/javascript" src="app/groups/editgroup.controller.js"></script>
    <script type="text/javascript" src="app/search/searchDB.controller.js"></script>

    
</body>
</html>