/*
 *
 *  style.css
 *  
 *  Summary: CSS for HTML page
 *  
 *                  Changelog
 *
 *  Version     Author      Date        Comments
 *  -------     ------      ----        --------
 *  1.0         Hafiz       08/02/17    Creation of file
 *	1.1			Hafiz: 		25/02/17	Modifications
 *
 *
 */

@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

/* use this style for testing and development purposes */
/*
.container{border: 2px dotted green;}
.row{border: 1px dotted red;}
.row [class*=' col-']{border: 2px dotted purple;}
*/


body{
	font-family: lato;
}

.link-banner {
	margin-top: 0.75em;
}

.top-btn-area {
	margin-top: 1em;
}

.clickable-fa:hover {
	color: #99ccff;
	cursor: pointer;
}

.btn:hover {
	background-color: #99ccff;
}

.input-group {
	margin-top: 0.75em;
}

.round-crop {
	border-radius: 50%;
}

.thumbnail {
	margin-top: 0.5em;
}

.thumb_imgcrop{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}

.thumb_imgcrop img{
    position:absolute;
}

.thumbnail:hover {
	-webkit-filter: drop-shadow(0px 0px 2px #222);
  	filter: drop-shadow(0px 0px 2px #222);
	cursor: pointer;
}

.logo {
	font-family: 'Patua One', cursive;
	font-size: 2.5em;
	background-color: #000000;
	color: #FFFFFF;
	padding: 0;
}

.logo:hover {
	background-image: none;
	background-color: #99ccff;
	cursor: pointer;
}

.clickable:hover {
	color: #99ccff;
	cursor: pointer;
}

.header-row {
	font-family: 'Patua One', cursive;
	font-size: 1.5em;
	text-align: right;
	color: #FFFFFF;
	background-color: #000000;
}

.footer-row {
	font-family: 'Patua One', cursive;
	color: #FFFFFF;
	background-color: #000000;
}

.caption {
	background-color: #FFFFFF;
	color: #000000;
}

.group_caption {
	color: #000000;
	background-color: #FFFFFF;
}

a {
	color: inherit;
}