<div id="main-content-row" ng-controller="AddGroupCtrl as ctrl">

    <div class="row">
        <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    header-row">
            add group
        </div>
    </div>

    <div class="row">
        <form name="addGroupForm">
            <div class="row">
            <div class="col-xs-6
                    col-sm-8
                    col-md-8
                    col-lg-8">
                
                    <h2>Add Group</h2>
                    <hr>
                    <div class="form-group">
                        <label for="groupName">Group Name: </label>
                        <input type="text" name="groupName" class="form-control" ng-model="ctrl.groupName">
                        <br>
                        <!-- <label for="groupName">Group Photo (URL): </label>
                        <input type="text" name="groupPhoto" class="form-control" ng-model="ctrl.groupPhoto">
                        <br> -->
                        <label for="fileUpload">Upload photo:</label>
                        <input type="file" name="fileUpload" ng-model="ctrl.imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">

                        <hr>
                        <button type="button" class="btn btn-default btn-block" ng-click="ctrl.submit()">Submit</button>
                        <br>
                        <h4>{{ctrl.result}}</h4>
                    </div>
            </div>
            <div class="col-xs-6
                    col-sm-4
                    col-md-4
                    col-lg-4">
                <div class="thumbnail">
                    <a onclick="document.getElementById('fileID').click(); return false;">
                        <img ngf-thumbnail="ctrl.imgFile || 'http://placehold.it/400x400?text=Image+Preview'" class="img-responsive">
                    </a>
                </div>
                <input type="file" id="fileID" style="visibility: hidden;" ng-model="ctrl.fileName">
            </div>
        </form>
    </div>
</div>
