<div id="main-content-row" ng-controller="EditGroupCtrl as ctrl">

    <div class="row">
        <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    header-row">
            edit group
        </div>
    </div>

    <div class="row">
        <form name="addGroupForm">
            <div class="row">
            <div class="col-xs-6
                    col-sm-8
                    col-md-8
                    col-lg-8">
                
                    <h2>Edit Group</h2>
                    <hr>
                    <div class="form-group">
                        <label for="groupName">Group Name: </label>
                        <input type="text" name="groupName" class="form-control" ng-model="ctrl.group_name">
                        <br>
                        <label for="fileUpload">Upload photo:</label>
                        <input type="file" name="fileUpload" ng-model="ctrl.imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">

                        <hr>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary" ng-click="mainCtrl.buttonClick('home')">Return to main page <i class="fa fa-undo" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-warning" ng-click="ctrl.update()">Update {{ctrl.group_name}} <i class="fa fa-pencil" aria-hidden="true"></i></button>
                        </div>

                        <br>
                        <h4>{{ctrl.result}}</h4>
                    </div>
            </div>
            <div class="col-xs-6
                    col-sm-4
                    col-md-4
                    col-lg-4">
                <div class="thumbnail">
                    <a onclick="document.getElementById('fileID').click(); return false;">
                        <img ngf-thumbnail="ctrl.imgFile || ctrl.group_photo" class="img-responsive">
                    </a>
                </div>
                <input type="file" id="fileID" style="visibility: hidden;" ng-model="ctrl.fileName">
            </div>
        </form>
    </div>
</div>
