<div ng-controller="GroupCtrl as ctrl">

    <div class="row">
        <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    header-row">                
            groups ({{ctrl.listGroups.length}})
        </div>
    </div>

    <div class="row">

        <div class="col-xs-6
                col-sm-4
                col-md-2
                col-lg-2">
            <div class="thumbnail" ng-click="ctrl.selectGroup('all')">
                    <img src="http://placehold.it/400x400/ffffff?text=all" class="img-responsive round-crop">
                <div class="group_caption clearfix text-center">
                        <h4>All Friends</h4>
                </div>
            </div>
        </div>

        <div class="col-xs-6
                    col-sm-4
                    col-md-2
                    col-lg-2"
                    ng-repeat="element in ctrl.listGroups">
            <div class="thumbnail" ng-click="ctrl.selectGroup(element.group_id)">
                    <img ng-src="{{element.group_photo}}" class="img-responsive round-crop"
                        data-drop="true" jqyoui-droppable="{stack:true, onDrop: 'ctrl.dropCallback(element)'}" 
                        data-drag="false" data-jqyoui-options="{containment: parent, revert: 'invalid', helper: 'clone'}">
                <div class="group_caption clearfix text-center">
                        <h4>{{ element.group_name }}</h4>
                </div>
            </div>
        </div>

        <div class="col-xs-6
                col-sm-4
                col-md-2
                col-lg-2">
            <div class="thumbnail" ng-click="mainCtrl.buttonClick('addgroup')">
                    <img src="http://placehold.it/400x400/99ccff?text=add" class="img-responsive round-crop">
                <div class="group_caption clearfix text-center">
                        <h4>Add Group</h4>
                </div>
            </div>
        </div>

    </div>

</div>