<div id="main-content-row" ng-controller="AddFriendCtrl as ctrl">

<!--This is tentative. I have several thoughts on this. It has to consist of different form group
that correspond to different tables. For example, a form that consist of last name, first name and preferred name
will be binded with the name table and the address has to be different table because one person may
have multiple address like home and office address. Similarly for contact because one person
can have any contact like home office handphone1 and handphone 2 so its good to separate the table
I also think that the primary key can be the email because I think that should be the mst unique.
Will deliberate over this with you guys and then continue-->

    <div class="row">
        <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    header-row">
         </div>
    </div>          

    <div class="row">
        <form id="AddFriendForm" name="AddFriendForm" novalidate ng-submit="ctrl.save()" autocomplete="off">
            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" name="lastname" class="form-control" ng-model="ctrl.friend.last_name">  
            </div>
    
            <div class="form-group">
                <label for="firstname">First Name:</label>
                <input type="text" id="firstname" name="firstname" ng-model="ctrl.friend.first_name" class="form-control">
            </div>

            <div class="form-group">
                <label for="preferredname">Type Preferred Name:</label>
                <input type="text" id="name" name="name"
                class="form-control"
                ng-model="ctrl.friend.name"
                required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"
                class="form-control" ng-model="ctrl.friend.email">
            </div>

            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" input id="gender" name="gender" value="M"  ng-model="ctrl.friend.gender">	
                        Male
                    </label>

                    <label>
                        <input type="radio" input id="gender" name="gender" value="F" ng-model="ctrl.friend.gender">	
                        Female
                    </label>
                            
                </div>
                <!-- Selected value: {{ctrl.friend.gender}} -->
            </div>

            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" class="form-control" ng-model="ctrl.friend.address">  
            </div>

            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" id="phone" name="phone" class="form-control" ng-model="ctrl.friend.phone">  
            </div>

            <label for="group">Groups: </label>
            <div class="checkbox" ng-repeat="element in ctrl.groups">
                <input type="checkbox" id="group" name="group" ng-model="ctrl.selection[element.group_id].value"> {{element.group_name}}
            </div>

            <label for="fileUpload">Upload photo:</label>
            <input type="file" name="fileUpload" ng-model="ctrl.imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">

            <div class="thumbnail">
                <img ngf-thumbnail="ctrl.imgFile || 'http://placehold.it/400x400?text=Image+Preview'" class="img-responsive">
            </div>

            <!--<div class="form-group">
                <label for="phone">Photo:</label>
                <input type="text" id="photo" name="photo" class="form-control" ng-model="ctrl.friend.photo">  
            </div>-->

            <button type="submit" class="btn btn-default btn-block">Submit</button>
            <br>
            <h4>{{ctrl.response}}</h4>


                <!--<h1>Home Address :</h1>
                <div class="form-group" name="address" ng-model="ctrl.friend.address">
                    
                    <label for="">Street:</label>
                    <input type="text" id="street" name="street">
                    
                    <br>

                    <label for="Blk">Block/Apt:</label>
                    <input type="text" id="blk" name="blk">
                    
                    <label for="unit">Unit No:</label>
                    <input type="text" id="unit" name="unit"></input>
               
                    <label for="postal">Postal Code:</label>
                    <input type="text" id="postal" name="postal">
                    </input>           
                </div>-->

                 <!--<div class="form-group">
                    <button types="submit" class="btn-success btn-lg">
                     Add
                    </button>
                </div>-->

                <!--<h2>Upload photo</h2>
                    <form name="UploadForm" novalidate ng-submit="uploadCtrl.upload()" autocomplete="off">
                        <div class="form-group">
                         <!--Select file to upload. Single file only. Accepts only images
                        <input id="file" type="file" ng-model="uploadCtrl.imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">
                        </div>
                        <div class="form-group">
                        <!-- Thumbnail preview of image to upload. -->
                        <!--<img ngf-thumbnail="uploadCtrl.imgFile" width="100px" class="img-thumbnail">
                        </div>
                        <div class="form-group">-->
                        <!-- Upload button. Click to upload images -->
                        <!--<button class="btn btn-success btn-small" type="submit">Upload</button>-->


            
         <!--</form>-->

        <!--<div class="alert" role="alert" alert-dismissable ng-show=""
        ng-class="{'alert-success': ctrl.status.code ==0, 'alert-danger': ctrl.status.code != 0}">
        <button class="close" data-dismiss="alert">
            &times;
        </button>
        <p>{{ ctrl.status.code + " " + ctrl.status.message }}</p>
        </div>-->
        
    </div>

</div>