<div id="main-content-row" ng-controller="EditFriendCtrl as ctrl">

    <div class="row">
        <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    header-row">
            {{ctrl.friend.first_name.toLowerCase()}}'s profile
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6
                col-sm-8
                col-md-8
                col-lg-8">

            <form id="EditFriendForm" name="EditFriendForm" novalidate ng-submit="ctrl.peformSave()" autocomplete="off">
                <div class="form-group">
                    <label for="lastname">Last Name:</label>
                    <input type="text" id="lastname" name="lastname" class="form-control" value="{{ctrl.friend.last_name}}" ng-model="ctrl.friend.last_name">  
                </div>
        
                <div class="form-group">
                    <label for="firstname">First Name:</label>
                    <input type="text" id="firstname" name="firstname" value="{{ctrl.friend.first_name}}" ng-model="ctrl.friend.first_name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="preferredname">Type Preferred Name:</label>
                    <input type="text" id="name" name="name"
                    class="form-control"
                    value="{{ctrl.friend.name}}"
                    ng-model="ctrl.friend.name"
                    required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="{{ctrl.friend.email}}"
                    class="form-control" ng-model="ctrl.friend.email">
                </div>

                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" input id="gender" name="gender" value="M"  value="{{ctrl.friend.gender}}" ng-model="ctrl.friend.gender">	
                            Male
                        </label>

                        <label>
                            <input type="radio" input id="gender" name="gender" value="F" value="{{ctrl.friend.gender}}" ng-model="ctrl.friend.gender">	
                            Female
                        </label>
                                
                    </div>
                    <!-- Selected value: {{ctrl.friend.gender}} -->
                </div>

                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" class="form-control" value="{{ctrl.friend.address}}" ng-model="ctrl.friend.address">  
                </div>

                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="text" id="phone" name="phone" class="form-control" value="{{ctrl.friend.phone}}" ng-model="ctrl.friend.phone">  
                </div>
            </form>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-success" ng-click="ctrl.performSave()">Save <i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger" ng-click="ctrl.cancel()">Cancel <i class="fa fa-cancel" aria-hidden="true"></i></button>
            </div>
            <br>
            <br>
        </div>

        <div class="col-xs-6
                col-sm-4
                col-md-4
                col-lg-4">
            <div class="thumbnail">
                <a onclick="document.getElementById('fileID').click(); return false;">
                    <img ngf-thumbnail="ctrl.imgFile || ctrl.friend.friend_photo" class="img-responsive">
                </a>
                <!--<img class="img-responsive" src="{{ctrl.friend.friend_photo}}">-->
                <label for="fileUpload">Change photo:</label>
                <input type="file" name="fileUpload" ng-model="ctrl.imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">
                <input type="file" id="fileID" style="visibility: hidden;" ng-model="ctrl.fileName">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    header-row">
            {{ctrl.friend.first_name.toLowerCase()}} belongs to the following groups
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6
                    col-sm-4
                    col-md-2
                    col-lg-2"
                    ng-repeat="element in ctrl.listGroups">
            <!--<div class="thumbnail" ng-click="mainCtrl.buttonClick('viewgroup', element.group_id)">-->
                <div class="thumbnail">
                    <img ng-src="{{element.group_photo}}" class="img-responsive round-crop">
                <div class="group_caption clearfix text-center">
                        <h4>{{ element.group_name }}</h4>
                </div>
            </div>
        </div>
    </div>

</div>