<div id="main-content-row" ng-controller="FriendCtrl as ctrl">

    <div class="row">
        <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    header-row">
            <i class="fa fa-trash-o clickable" aria-hidden="true" ng-show="ctrl.groupOptionsVisible" ng-click="ctrl.deleteGroup(ctrl.group_id)"> | </i>
            <i class="fa fa-pencil clickable" aria-hidden="true" ng-show="ctrl.groupOptionsVisible" ng-click="mainCtrl.buttonClick('editgroup', ctrl.group_id)"> | </i>
            {{ctrl.selectedGroup.toLowerCase()}} ({{ctrl.listFriends.length}}) 
        </div>
    </div>

    <div class="row">

        <div class="col-xs-6
                col-sm-4
                col-md-2
                col-lg-2"
                ng-repeat="element in ctrl.listFriends">
            <div class="thumbnail" ng-click="mainCtrl.buttonClick('viewfriend', element.friend_id)"
                data-drag="true" data-jqyoui-options="{containment: 'drag', revert: 'invalid', helper: 'clone'}" 
                jqyoui-draggable="{index: {{$index}}, onStart:'ctrl.startCallback(element, $index)',placeholder: 'keep', animate: true}">
                
                <div class="thumb_imgcrop">
                    <img class="img-responsive" ng-src="{{element.friend_photo}}">
                </div>
                <div class="caption clearfix text-center">
                    <h4> {{ element.first_name }} </h4>
                </div>
            </div>
        </div>        

        <div class="col-xs-6
                col-sm-4
                col-md-2
                col-lg-2" >
            <div class="thumbnail" ng-click="mainCtrl.buttonClick('addfriend')">
                <div class="thumb_imgcrop">
                    <img src="http://placehold.it/400x400/99ccff?text=add" class="img-responsive">
                </div>
                <div class="caption clearfix text-center">
                    <h4>Add Friend</h4>
                </div>
            </div>
        </div>

    </div>

</div>