<div id="main-content-row" ng-controller="ViewFriendCtrl as ctrl">

    <div class="row">
        <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    header-row">
            {{ctrl.friend[0].first_name.toLowerCase()}}'s profile
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6
                col-sm-8
                col-md-8
                col-lg-8">
            <h2>{{ctrl.friend[0].first_name}} {{ctrl.friend[0].last_name}} <em>{{ ctrl.friend[0].name ? '(' + ctrl.friend[0].name + ')' : ' '}}</em></h2>
            <hr>
            <h4><strong>Gender:</strong> {{ctrl.friend[0].gender == 'M' ? 'Male' : 'Female'}}</h4>
            <h4><strong>Phone:</strong> {{ctrl.friend[0].phone}}</h4>
            <h4><strong>Email:</strong> {{ctrl.friend[0].email}}</h4>
            <h4><strong>Address:</strong> {{ctrl.friend[0].address}}</h4>
            <hr>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary" ng-click="mainCtrl.buttonClick('editFriend',ctrl.friend[0])">Edit Details <i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-secondary">Share Contact <i class="fa fa-share" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-warning" ng-click="ctrl.deleteFriend(ctrl.friend[0].friend_id)">Delete {{ctrl.friend[0].first_name}} <i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
            <br>
        </div>

        <div class="col-xs-6
                col-sm-4
                col-md-4
                col-lg-4">
            <div class="thumbnail">
                <img class="img-responsive" src="{{ctrl.friend[0].friend_photo}}">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    header-row">
            {{ctrl.friend[0].first_name.toLowerCase()}} belongs to the following groups
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6
                    col-sm-4
                    col-md-2
                    col-lg-2"
                    ng-repeat="element in ctrl.listGroups">
            <div class="thumbnail" ng-click="mainCtrl.buttonClick('viewgroup', element.group_id)">
                    <img ng-src="{{element.group_photo}}" class="img-responsive round-crop">
                <div class="group_caption clearfix text-center">
                        <h4>{{ element.group_name }}</h4>
                </div>
            </div>
        </div>
    </div>

</div>