<div class="row"" id="searchDB" ng-controller="SearchDBCtrl as ctrl">

    <div class="row">
        <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    header-row">
            Search ({{ctrl.friendsList.length}}) 
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3
                col-sm-3
                col-md-2
                col-lg-2"
                ng-repeat="element in ctrl.friendsList">
            <div class="thumbnail" ng-click="mainCtrl.buttonClick('viewfriend', element.friend_id)">
                <div class="thumb_imgcrop">
                    <img class="img-responsive" ng-src="{{element.friend_photo}}">
                </div>
                <div class="caption clearfix text-center">
                    <h4> {{ element.first_name }} </h4>
                </div>
            </div>
        </div>        

        <div class="col-xs-3
                col-sm-3
                col-md-2
                col-lg-2" >
            <div class="thumbnail" ng-click="mainCtrl.buttonClick('addfriend')">
                <div class="thumb_imgcrop">
                    <img src="http://placehold.it/400x400/99ccff?text=add" class="img-responsive">
                </div>
                <div class="caption clearfix text-center">
                    <h4>Add Friend</h4>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    header-row">                
            all groups ({{ctrl.groupsList.length}})
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3
                col-sm-3
                col-md-2
                col-lg-2">
            <!--<div class="thumbnail" ng-click="ctrl.selectGroup('all')">-->
            <div class="thumbnail">
                    <img src="http://placehold.it/400x400/ffffff?text=all" class="img-responsive round-crop">
                <div class="group_caption clearfix text-center">
                        <h4>All Friends</h4>
                </div>
            </div>
        </div>

        <div class="col-xs-3
                    col-sm-3
                    col-md-2
                    col-lg-2"
                    ng-repeat="element in ctrl.groupsList">
            <!--<div class="thumbnail" ng-click="ctrl.selectGroup(element.group_id)">-->
                <div class="thumbnail">
                    <img ng-src="{{element.group_photo}}" class="img-responsive round-crop">
                <div class="group_caption clearfix text-center">
                        <h4>{{ element.group_name }}</h4>
                </div>
            </div>
        </div>

        <div class="col-xs-3
                col-sm-3
                col-md-2
                col-lg-2">
            <div class="thumbnail" ng-click="mainCtrl.buttonClick('addgroup')">
                    <img src="http://placehold.it/400x400/99ccff?text=add" class="img-responsive round-crop">
                <div class="group_caption clearfix text-center">
                        <h4>Add Group</h4>
                </div>
            </div>
        </div>

    </div>

</div>